{
  "root": true,
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  // https://github.com/standard/standard/blob/master/docs/RULES-en.md

  "globals": {
    "_": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/essential",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": ["src/**/*.tsx", "src/**/*.jsx", "**/*.d.ts"],
      "rules": {
        "@typescript-eslint/no-unused-vars": [0, "always"]
      }
    },
    {
      "files": ["src/**/*.js"],
      "extends": [
        "eslint:recommended",
        "google",
        "plugin:prettier/recommended"
      ],
      "rules": {
        "require-jsdoc": [0, "always"],
        "@typescript-eslint/explicit-function-return-type": 0
      }
    },
    {
      "files": ["src/**/*.vue"],
      "parser": "vue-eslint-parser",
      "parserOptions": {
        "parser": "babel-eslint"
      },
      "rules": {
        "@typescript-eslint/no-unused-vars": [0, "always"]
      }
    }
  ],
  // required to lint *.vue files
  "plugins": ["react", "vue", "html"],
  // add your custom rules here
  "rules": {}
}
