<div class="main">
    <div class="operator">
        <button id="getmodule-add" class="btn btn-large btn-outline-primary" data-toggle="modal" data-target="#exampleModal">添加</button>
        <button id="getmodule-edit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" disabled>编辑</button>
        <button id="delete" class="btn btn-danger">删除</button>
    </div>
    <div id="table-feild" data-private="authPage">
        <% if(data && data.table) { %>
            <%= data.table %>
        <% } %>
    </div>
</div>
<div id="modal">
    <%= require('./modal.ejs')() %>
</div>
