<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">设定</a></li>
        <li class="breadcrumb-item active" aria-current="page">模块</li>
    </ol>
</nav>