<header class="navbasic nav">
    <% if(headerData.length>0) { %>
    <ul class="navbasic nav__content">
        <% for(let headerItem of headerData) { %>
        <li class="navbasic nav__item">
            <div class="navbasic nav__item--menutitle">
                <span><%= headerItem.title %> </span>
                <svg class="pointicon drop-down-icon">
                    <use xlink:href="#icon-bottom"></use>
                </svg>
            </div>
            <ul class="nav__item--submenu">
                <% for(let subtitle of headerItem.submenu) { %>
                    <li class="nav__item--submenu-title"><%= subtitle.title %></li>
                <% } %>
            </ul>
        </li>
        <% } %>
    </ul>
    <% } %>
</header>