<header class="navbasic nav">
    <ul class="navbasic nav__content">
        <li class="navbasic nav__item">
            <div class="navbasic nav__item--menutitle">
                <span>工作台 </span>
                <svg class="pointicon drop-down-icon">
                    <use xlink:href="#icon-bottom"></use>
                </svg>
            </div>
            <ul class="nav__item--submenu">
                <li class="nav__item--submenu-title">
                    <span>测试1测试1测试1测试1测试1测试1测试1</span>
                    <i><svg class="pointicon">
                            <use xlink:href="#icon-right"></use>
                        </svg></i>
                </li>
                <% if(test>10) { %>
                    <li class="nav__item--submenu-title">测试2</li>
                    <li class="nav__item--submenu-title">测试3</li>
                    <li class="nav__item--submenu-title">测试4</li>
                    <% } %>
            </ul>
        </li>
    </ul>
</header>