<header class="navbasic nav">
    <% if(headerData.length>0) { %>
    <ul class="navbasic nav__content">
        <% for(let headerItem of headerData) { %>
        <li class="navbasic nav__item">
            <a href="<%= headerItem.link %>">
                <div class="navbasic nav__item--menutitle">
                    <span><%= headerItem.title %></span>
                    <svg class="pointicon drop-down-icon">
                        <use xlink:href="#icon-bottom"></use>
                    </svg>
                </div>
            </a>
            <% if(headerItem.submenu.length) { %>
            <ul class="nav__item--submenu">
                <% for(let subItem of headerItem.submenu) { %>
                <li class="nav__item--submenu-title"><%= subItem.title %></li>
                <% } %>
            </ul>
            <% } %>
        </li>
        <% } %>
    </ul>
    <% } %>
</header>