<header class="navbasic nav">
    <% if(data.length>0) { %>
    <ul class="navbasic nav__content">
        <% for(var i=0;i<data.length;i++) { %>
        <li class="navbasic nav__item">
            <div class="navbasic nav__item--menutitle">
                <span><%= data[i].title %> </span>
                <i class="s-icon__dropdown"></i>
            </div>
            <ul class="nav__item--submenu">
                <% for(var j=0;j<data[i].submenu.length;j++) { %>
                <li class="nav__item--submenu-title <%= window.location.pathname===data[i].submenu[j].link? 'active':'' %>"><a href="<%= data[i].submenu[j].link %>"><%= data[i].submenu[j].title %></a></li>
                <% } %>
            </ul>
        </li>
        <% } %>
    </ul>
    <% } %>
</header>