<header class="navbasic nav">
  <ul class="navbasic nav__content">
    <li class="navbasic nav__item is-active">处理中心</li>
    <li class="navbasic nav__item">工作台 <i class="iconfont icon-caozuo-xiala drop-down-icon"></i> </li>
    <li class="navbasic nav__item">状态中心</li>
    <li class="navbasic nav__item">设置</li>
  </ul>
</header>