<% if(data) { %>
<div class="table-responsive">
    <table class="table table-hover table-sm align-items-center table-flush">
        <thead class="thead-light">
            <% if(data.config){ %>
            <tr>
                <% for(var i=0;i<data.config.length;i++){ %>
                <th scope="col"><%= data.config[i].value %></th>
                <% } %>
            </tr>
            <% } %>
        </thead>
        <% if(data.rewrite){ %>
            <tbody></tbody>
        <% } else if(data.data) { %>
        <tbody>
            <% for (var index = 0; index < data.data.length; index++) { %>
            <% var ele = data.data[index]; %>
            <tr>
                <% for(var i=0;i<ele.length;i++){ %>
                <td><%= ele[i] || '' %></td>
                <% } %>
            </tr>
            <% } %>
        </tbody>
        <% } %>
    </table>
</div>
<% } %>