$color-primary: #409eff; /*主要*/
$color-secondary: #6c757d; /*次要*/
$color-success: #28a745; /*成功*/
$color-danger: #ff4351; /*危险*/
$color-warning: #ffc107; /*警告*/
$color-info: #909399; /*信息*/
$color-light: #e2e6ea; /*亮色*/
$color-dark: #545c64; /*暗色*/

/* 主题Theme */
$color-theme-white: #ffffff;
$color-theme-black: #000000;
$color-theme-bright: #1e9fff; /*明丽*/
$color-theme-action: #67c23a; /*活跃*/
$color-theme-pastel: #feae1b; /*柔和*/
$color-theme-gaudy: #ff00c8; /*花哨*/
$color-theme-light: #f8f9fa; /*明亮*/
$color-theme-dark: #545c64; /*素黑*/
$color-theme-royal: #7b72e9; /*尊贵*/
$color-theme-deep: #009688; /*深沉*/

$color-theme-vue: #4fc08d; /*Vue文档主题色*/
$color-theme-bootstrap: #6f5499; /*Bootstrap文档主题色*/
$color-theme-layui: #009688; /*LayUI主题色*/

/* 边框Border*/
$color-border-firstlevel: #dcdfe6;
$color-border-secondlevel: #e4e7ed;
$color-border-thirdlevel: #ebeef5;
$color-border-fourthlevel: #f2f6fc;

/* Bootstrap根颜色 */
$color-bootstrap-blue: #007bff;
$color-bootstrap-indigo: #6610f2;
$color-bootstrap-purple: #6f42c1;
$color-bootstrap-pink: #e83e8c;
$color-bootstrap-red: #dc3545;
$color-bootstrap-orange: #fd7e14;
$color-bootstrap-yellow: #ffc107;
$color-bootstrap-green: #28a745;
$color-bootstrap-teal: #20c997;
$color-bootstrap-cyan: #17a2b8;
$color-bootstrap-white: #fff;
$color-bootstrap-gray: #6c757d;
$color-bootstrap-gray-dark: #343a40;
$color-bootstrap-primary: #007bff;
$color-bootstrap-secondary: #6c757d;
$color-bootstrap-success: #28a745;
$color-bootstrap-info: #17a2b8;
$color-bootstrap-warning: #ffc107;
$color-bootstrap-danger: #dc3545;
$color-bootstrap-light: #f8f9fa;
$color-bootstrap-dark: #343a40;