.Initial, .nav__item {
  width: auto;
}

.navbasic {
  height: 4rem;
  line-height: 4rem;
  background-color: rgb(84, 92, 100);
}

.nav {
  width: 100%;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

.nav a, .nav a:link, .nav a:hover, .nav a:active, .nav a:visited {
  text-decoration: none;
}

.nav .pointicon {
  width: 1em;
  height: 1em;
  fill: rgba(255, 255, 255, 0.5);
  display: inline-block;
  vertical-align: -0.125em;
}

.nav__content {
  width: 1190px;
  margin: 0 auto;
  box-shadow: none;
  font-size: 0px;
}

.nav__item {
  display: inline-block;
  position: relative;
}

.nav__item:hover .drop-down-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav__item:hover .nav__item--menutitle {
  background-color: rgb(67, 74, 80);
  border-bottom-width: 50%;
  cursor: pointer;
}

.nav__item:hover .nav__item--submenu {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: inherit;
          animation-iteration-count: inherit;
  visibility: visible;
}

.nav__item--menutitle {
  height: 4rem;
  box-sizing: border-box;
  padding: 0 1rem;
  margin: 0 0;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: border .3s ease, background .3s ease;
  transition: border .3s ease, background .3s ease;
}

.nav__item--menutitle .drop-down-icon {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav__item--menutitle.is-active {
  color: rgb(255, 208, 75);
  border-bottom: rgb(255, 208, 75) solid 0.15rem;
}

.nav__item--submenu {
  position: absolute;
  top: 4rem;
  left: 0px;
  z-index: 100;
  min-width: 100%;
  background-color: rgb(84, 92, 100);
  -webkit-padding-start: 0;
     -moz-padding-start: 0;
          padding-inline-start: 0;
  visibility: hidden;
}

.nav__item--submenu-title {
  height: 3rem;
  color: aliceblue;
  text-align: left;
  font-size: 1rem;
  line-height: 3rem;
  padding: 0 1.5rem;
  white-space: nowrap;
}

.nav__item--submenu-title:hover {
  background-color: rgb(67, 74, 80);
  cursor: pointer;
}

@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
