<!DOCTYPE html>
<html class="no-js" lang="zh-Hans-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Argon Dashboard - Free Dashboard for Bootstrap 4 by Creative Tim</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%= require('@tpl/assets/favicon.png') %>" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
      <%= data.nav %>
      <%= data.main %>
      <%= data.modal %>
  </body>
</html>