<div class="container">
    <% data.forEach(item=>{ %>
    <label class="checkblock">
        <input id="role<%= item.id %>" type="checkbox" value="role#<%= item.id %>" /><i class="s-icon__checkbox"></i>
        <span><%= item.roleName %></span>
    </label>
    <% }) %>
</div>