<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="javascript:void(0)">
    <%= data[0] %> /
</a>
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="javascript:void(0)">
    <%= data[1] %>
</a>