h1,
h2 {
  font-weight: normal;
  color: blueviolet;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
  font-size: 15px;
}
p {
  color: #42b983;
  font-size: 15px;
}
