<!-- 顶栏 -->
<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <!-- 面包屑 -->
        <span id="admin-mount-crumbs">

        </span>
        <!-- 搜索框 -->
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-sousuo"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text">
                </div>
            </div>
        </form>
        <!-- 用户头像 -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
                <a class="nav-linkpr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="media align-items-center">
                        <span class="avatar avatar-sm rounded-circle">
                            <img alt="Image placeholder" src="/assets/theme/team-4-800x800.jpg">
                        </span>
                        <div class="media-body ml-2 d-none d-lg-block">
                            <span id="admin-mount-userName" class="mb-0 text-sm  font-weight-bold"></span>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome!</h6>
                    </div>
                    <div id="admin-mount-userLink">

                    </div>
                    <div class="dropdown-divider"></div>
                    <a href="<%= require('@core/config/index.js').Router.loginPage %>" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>注销</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>